@use './spacing' as *;

@mixin progress-grow($max, $time: 1s, $easing: ease-in-out) {
  @keyframes grow {
    0% {
      width: 0%;
    }
    100% {
      width: $max;
    }
  }
  animation: grow $time $easing;
}

// foobar

@keyframes progressSpinner {
  0% {
    transform: rotate(0deg) scale(.75) translateZ(0);
    opacity: 0;
  }
  40% {
    transform: rotate(360deg) scale(1) translateZ(0);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg) scale(1) translateZ(0);
    opacity: 1;
  }
  75% {
    transform: rotate(540deg) scale(1) translateZ(0);
    opacity: 1;
  }
  100% {
    transform: rotate(540deg) scale(1) translateZ(0);
    opacity: 0;
  }
}

@keyframes scale-x-in {
  0% {
    transform: scaleX(0.2) translateZ(0);
  }
  100% {
    transform: scaleX(1) translateZ(0);
  }
}

.loading-pokemon-sprite {
  animation: loading-pokemon-sprite 2s infinite ease-in-out;
  width: $space-24;
  height: $space-24;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0 30px #f8d8f7, 0 0 10px var(--color-white);
}

@keyframes loading-pokemon-sprite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glare {
  0% {
    top: -55px;
    left: -30px;
    visibility: visible;
  }

  100% {
    top: 100%;
    left: 100%;
    visibility: hidden;
  }
}

@keyframes pokeball-idle {
  0%, 60%, 100% { transform: rotate(0deg); }
  65%            { transform: rotate(10deg); }
  72%            { transform: rotate(-5deg); }
  78%            { transform: rotate(7deg); }
  85%            { transform: rotate(0deg); }
}
