/* Color Theme Swatches in Hex */
$blue: hsl(233, 55%, 50%);
$blue-light: hsl(233, 60%, 65%);
$blue-dark: hsl(233, 60%, 25%);

$purple: hsl(270, 50%, 50%);
$purple-light: hsl(270, 70%, 75%);
$purple-dark: hsl(270, 50%, 25%);