/* 
  Color Theme Swatches 
*/

/* Color Pokemon types */

$bug: #92bc2c;
$dark: #595761;
$dragon: #0c6bca;
$electric: #f2d94e;
$fire: #fba54c;
$fairy: #ee90e6;
$fighting: #d3425f;
$flying: #a1bbec;
$ghost: #5f6dbc;
$grass: #5fbd58;
$ground: #da7c4d;
$ice: #75d0c1;
$normal: #a0a29f;
$poison: #b763cf;
$psychic: #fa8581;
$rock: #c9bb8a;
$steel: #5695a3;
$water: #539ddf;

/* App color theme */

:root {
  /* Brand */
  --color-primary: #007a60;
  --color-primary-fg: #033a2e;
  --color-secondary: #b4eed1;
  --color-secondary-fg: #083b22;

  /* UI */
  --color-white: #fff;
  --color-black: #000;

  /* Text */
  --color-text: #222;
  --color-text-light: #666;
  --color-text-disabled: #999;

  /* Backgrounds */
  --color-bg-body: #f5f5f5;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #eeeeee;
  --color-bg-tertiary: #d8d8d8;
  --color-bg-disabled: #888;
}

@media (prefers-color-scheme: dark) {
  :root {

      /* Brand */
  --color-primary: #007a60;
  --color-primary-fg: #033a2e;
  --color-secondary: #b4eed1;
  --color-secondary-fg: #083b22;
  
    /* Backgrounds */
    --color-bg-body: #1a1a1a;
    --color-bg-primary: #222222;
    --color-bg-secondary: #2a2a2a;
    --color-bg-tertiary: #333333;

    /* Text */
    --color-text: #ddd;
    --color-text-light: #aaa;
      --color-text-disabled: #999;

    /* UI */
    --color-white: #fff;
    --color-black: #000;
  }
}