// Spacing

$xxs:   0.125rem; // 2px
$xs:    0.25rem;  // 4px
$s:     0.5rem;   // 8px
$m:     1rem;     // 16px
$l:     1.5rem;   // 24px
$xl:    2rem;     // 32px
$xxl:   3rem;     // 48px
$xxxl:  4rem;     // 64px
$xxxxl: 8rem;     // 128px

.default-page-margin {
  margin: $l $s; 
}