// Spacing
// Examples are set where 16px = 1rem

$space-2: 0.125rem; // 2px
$space-4: 0.25rem; // 4px
$space-8: 0.5rem; // 8px
$space-12: 0.75rem; // 12px
$space-16: 1rem; // 16px
$space-24: 1.5rem; // 24px
$space-32: 2rem; // 32px
$space-48: 3rem; // 48px
$space-64: 4rem; // 64px
$space-96: 6rem; // 96px
$space-128: 8rem; // 128px
$space-256: 16rem; // 256px

.default-page-margin {
  margin: $space-24 $space-16;
}
