// Slide Vertically
.slide-v-enter-active, 
.slide-v-leave-active {
  transition: all $normal ease-in-out;
}
.slide-v-enter, 
.slide-v-leave-to {
  transform: translateY($xl);
}

// Slide Horizontally Left
.slide-h-l-enter-active, 
.slide-h-l-leave-active {
  transition: all $fast;
}
.slide-h-l-enter {
  transform: translateX(-50%);
  opacity: 0;
}
.slide-h-l-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

// Slide Horizontally Right
.slide-h-r-enter-active, 
.slide-h-r-leave-active {
  transition: all $fast;
}
.slide-h-r-enter {
  transform: translateX(50%);
  opacity: 0;
}
.slide-h-r-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}

// Fade
.fade-enter-active, 
.fade-leave-active {
  transition: opacity $fast;
}
.fade-enter, 
.fade-leave-to {
  opacity: 0;
}