/* 
  In usage with Vue's <transition> component
  use attr 'name'
  --- 

  Example using transition "Slide vertically":
    
    <transition name="slide-v">
      ...
    </transition>
*/

/* 
  Slide Vertically 
  [name="slide-v"]
*/
.slide-v-enter-active,
.slide-v-leave-active {
  transition: all $normal ease-in-out;
}
.slide-v-enter,
.slide-v-leave-to {
  transform: translateY(50%);
  opacity: 0;
}

/* 
  Slide Horizontally Left 
  [name="slide-h-l"]
*/
.slide-h-l-enter-active,
.slide-h-l-leave-active {
  transition: all $fast ease-in-out;
}
.slide-h-l-enter {
  transform: translateX(-50%) scale(0.9) rotate(-10deg);
  opacity: 0;
}
.slide-h-l-leave-to {
  transform: translateX(50%) scale(0.9) rotate(10deg);
  opacity: 0;
}

/* 
  Slide Horizontally Right  
  [name="slide-h-r"] 
*/
.slide-h-r-enter-active,
.slide-h-r-leave-active {
  transition: all $fast ease-in-out;
}
.slide-h-r-enter {
  transform: translateX(50%) scale(0.5) rotate(10deg);
  opacity: 0;
}
.slide-h-r-leave-to {
  transform: translateX(-50%) scale(0.5) rotate(-10deg);
  opacity: 0;
}

/* 
  Fade 
  [name="fade"]
*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity $fast;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
