.bug-bg {
  background: $bug ;
}

.dark-bg {
  background: $dark;
}

.dragon-bg {
  background: $dark;
}

.electric-bg {
  background: $electric;
}

.fire-bg {
  background: $fire;
}

.fairy-bg {
  background: $fairy;
}

.fighting-bg {
  background: $fighting;
}

.flying-bg {
  background: $flying;
}

.ghost-bg {
  background: $ghost;
}

.grass-bg {
  background: $grass;
}

.ground-bg {
  background: $ground;
}

.ice-bg {
  background: $ice;
}

.normal-bg {
  background: $normal;
}

.poison-bg {
  background: $poison;
}

.psychic-bg {
  background: $psychic;
}

.rock-bg {
  background: $rock;
}

.steel-bg {
  background: $steel;
}

.water-bg {
  background: $water;
}