.bug-bg {
  background: var(--color-type-bug);
}
.dark-bg {
  background: var(--color-type-dark);
}
.dragon-bg {
  background: var(--color-type-dragon);
}
.electric-bg {
  background: var(--color-type-electric);
}
.fire-bg {
  background: var(--color-type-fire);
}
.fairy-bg {
  background: var(--color-type-fairy);
}
.fighting-bg {
  background: var(--color-type-fighting);
}
.flying-bg {
  background: var(--color-type-flying);
}
.ghost-bg {
  background: var(--color-type-ghost);
}
.grass-bg {
  background: var(--color-type-grass);
}
.ground-bg {
  background: var(--color-type-ground);
}
.ice-bg {
  background: var(--color-type-ice);
}
.normal-bg {
  background: var(--color-type-normal);
}
.poison-bg {
  background: var(--color-type-poison);
}
.psychic-bg {
  background: var(--color-type-psychic);
}
.rock-bg {
  background: var(--color-type-rock);
}
.steel-bg {
  background: var(--color-type-steel);
}
.water-bg {
  background: var(--color-type-water);
}
